/* ------------- Css Global ------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
ul, li, a{
    text-decoration: none;
    list-style: none;
}
body/{
    width: 100%;
    height: 100vh;
}
/* -----X------- Css Global ------X------ */
/* ------------- Css Header ------------- */


/* -----X------- Css Header -------X----- */

.header{
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 1;
    
    background-color: #fff;
    box-shadow: inset 5px 0 10px rgba(0,0,0,0.3);
}
.header .logo{
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    padding: 0 100px;
}
/* -------- Menu Responsivo ---------- */


/* ----------- Header Responsivo ------------  */


/* Add a black background color to the top navigation */
.topnav {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  /* Style the line of navbar */
  .topnav .listaUl .listaLi {
    float: left;
    display: flex;
    flex-direction: row;
    color: #0007;
    font-size: 18px;
    margin: 0 5px;
    padding: 0 10px;
  }
  .topnav .listaUl .listaLi:nth-child(5){
      margin-right: 4rem;
  }
  /* Style the links inside the navigation bar */
  .topnav .listaUl .listaLi a{
      color: #0007;
      padding: 10px auto;

  }
  /* Change the color of links on hover */
  .topnav .listaUl .listaLi a:hover {
    transform: scale(1.2);
    color: black;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
    font-size: 20px;
  }
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 1100px) {
    .header .logo{padding: 0 20px;}
    .topnav .listaUl  {
        display: none;
    }
    /* Posição do Icon Menu*/
    .topnav a.icon {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color:#000;
      top: 0;
      right: 0px;
      padding: 10px;
      margin: 0 2rem;

      
    }
    
    /*Quando clica no menu aciona esse style*/
    .topnav.responsive a.icon {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 0;
        right: -48px;
        margin: 0 5rem;   

        -webkit-animation: rotate-hor-center .7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                animation: rotate-hor-center .7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

    }

    .topnav.responsive .listaUl {
        background-color: #f3f3f3;
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 2px;
        top: 50px;
        right: -50px;
    }

  

    .topnav.responsive .listaUl .listaLi a:hover{
        transform: scale(1.05);
    }
  }

/* -----X----- Header Responsivo -----X------  */

/* ------------- Css Container ------------- */

.container{
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
   

    /* scroll-snap-type: y mandatory; */
}

.container .section{
    display: flex;
     justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-blend-mode: darken;
    /* scroll-snap-align: start; */
}
/* -----X------ Css Container ------X------ */

/* ------------- Css Backgrounds ------------- */

/* Style backgrounds */

.container .section:nth-child(1){
    background: url('assets/cbg4.jpg');
    background-size:cover, contain, auto ;
    background-attachment: fixed;
    
}
.container .section:nth-child(2){
    background: url('assets/cbg2.jpg');
    background-size:cover, contain, auto ;
    background-attachment: fixed;
}
.container .section:nth-child(3){
    background: url('assets/cbg3.jpg');
    background-size:cover, contain, auto ;
    background-attachment: fixed;
}.container .section:nth-child(4){
    background: #fff;
    background-attachment: fixed;
    
}.container .section:nth-child(5){
    background: url('assets/cbg5.jpg');
    background-size:cover ;
    background-attachment: fixed;
    
}
/* -----X------- Css Backgrounds ------X------ */

/* ------------- Css Text ------------- */

/* -------- Geral -------*/
.container .section .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    

    margin-top: -9rem;
    max-width: 700px;
   font-size: 1.2em;

}
/* -------- Geral -------*/
/* ------------ Screen 1 ---------------*/
.container .section .content #firstH2{
   display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    color: #FFF;
    font-weight: 600;

   display: inline-block;
   padding: 10px 40px;
}
.container .section .content #firstP{
   color: #FFF;
    font-weight: 300;

    padding: 10px 20px;
    margin-top: 10px;

}
.container #imageOne{
    height: 100px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    margin-bottom: 5rem;
    padding: 15px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
}
.container #imageOne:hover{
    background-color: rgba(255, 255, 255, 0.3);

}
/* -----X------- Screen 1 -------X-------*/
/* ------------ Screen 2 ---------------*/
.container .section .contentSecond{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-content: center;
    align-items: flex-start;
    
    max-width:550px;
    height: 40vh;
    
    position: absolute;
    top: 25%;
    right: 0px;

    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px 0 0 10px;

    text-align: justify;
}

.container .section .contentSecond #secondH2{
    display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: center;
     align-content: center;
     align-items: center;
 
    color: #000;
    font-weight: 600;
 
    display: inline-block;
    margin: 2.5rem 1.5rem 0; 
    /* padding: 10px 40px; */
 }
 .container .section .contentSecond #secondP{
    color: #000;
    font-weight: 300;
 
    margin: .5rem 1.5rem 0; 
    padding-right:10px ;
    
 
 }
 .container #imageTwo{
    height: 100px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    padding: 15px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-bottom: none;
    border-radius: 50% 50% 0 0  ;
}
.container #imageTwo:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
/* -----X------- Screen 2 -------X-------*/
/* ------------- Screen 3 -------------- */
.container .section .contentThree{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    align-items: flex-start;
    
    max-width:550px;
    height: 40vh;
    
    position: absolute;
    top: 25%;
    left: 0px;

    background-color: rgba(255, 255, 255, 1);
    border-radius:  0 10px 10px 0;

    text-align: justify;
}

.container .section .contentThree #threeH2{
    display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: center;
     align-content: center;
     align-items: center;
 
    color: #000;
    font-weight: 600;
 
    display: inline-block;
    margin: 2.5rem 1.5rem 0; 
    /* padding: 10px 40px; */
 }
 .container .section .contentThree #threeP{
    color: #000;
    font-weight: 300;
 
    margin: .5rem 1.5rem 0; 
    padding-right:10px;
 }
/* Imagem */
.container #imageThree{
    height: 100px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    padding: 15px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-bottom: none;
    border-radius: 50% 50% 0 0  ;
}
.container #imageThree:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
/* -----X-------- Screen 3 --------X------ */
/* ------------- Screen 4 -------------- */
.container .section .contentFor{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    align-items: center;
    
    max-width:1000px;
    
    position: absolute;
    top: 15%;

    text-align: justify;
}

.container .section .contentFor #forH2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
 
    color: #000;
    font-weight: bold 700;
    font-size: 30pt;
 
}
 .container .section .contentFor #forP{
    color: #000;
    font-weight: 300;
 
    margin: .5rem 1.5rem 0; 
    padding-right:10px;
 }

/* -----X-------- Screen 4 --------X------ */

/* -----X------- Css Text ------X------ */

/*-------------- Screnn 1190px ------------*/


/*------X-------- Screnn 1190px ----X------*/

/**
 * ----------------------------------------
 * animation rotate-hor-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-hor-center {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-360deg);
              transform: rotateX(-360deg);
    }
  }
  @keyframes rotate-hor-center {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-360deg);
              transform: rotateX(-360deg);
    }
  }
  