/* ------------- Css Global ------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
ul, li, a{
    text-decoration: none;
    list-style: none;
}
body/{
    width: 100%;
    height: 100vh;
}
/* -----X------- Css Global ------X------ */
/* ------------- Css Header ------------- */


/* -----X------- Css Header -------X----- */

.header{
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 1;
    
    background-color: #fff;
    box-shadow: inset 5px 0 10px rgba(0,0,0,0.3);
}
.header .logo{
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    padding: 0 100px;
}
/* -------- Menu Responsivo ---------- */


/* ----------- Header Responsivo ------------  */


/* Add a black background color to the top navigation */
.topnav {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  /* Style the line of navbar */
  .topnav .listaUl li {
    float: left;
    display: flex;
    flex-direction: row;
    color: #0007;
    font-size: 18px;
    margin: 0 5px;
    padding: 0 10px;
  }
  .topnav .listaUl .listaLi:nth-child(3){
      margin-right: 4rem;
  }
  /* Style the links inside the navigation bar */
  .topnav .listaUl .listaLi a{
      color: #0007;
  }
  /* Change the color of links on hover */
  .topnav .listaUl .listaLi a:hover {
    transform: scale(1.2);
    color: black;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 1190px) {
    .header .logo{padding: 0 50px;}
    .topnav .listaUl {
        display: none;
    }
    /* Posição do Icon Menu*/
    .topnav a.icon {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color:#000;
      top: 0;
      right: 0;
      padding: 10px;
      margin: 0 5rem;
    }
    
    /*Quando clica no menu aciona esse style*/
    .topnav.responsive a.icon {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 0;
        right: 0;
        margin: 0 5rem;   
        background-color: tomato;

    }

    .topnav.responsive .listaUl {
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
    }

    .topnav.responsive .listaUl .listaLi{

    }
    .topnav.responsive .listaUl .listaLi a:hover{
        transform: scale(1.05);
    }
  }

  @media screen and (max-widht: 400px)






/* -----X----- Header Responsivo -----X------  */

/* ------------- Css Container ------------- */

.container{
    position: relative;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.container .section{
    position: relative;
    width: 100%;
    height: 100vh;
    background-blend-mode: darken;
    scroll-snap-align: start;
}
/* -----X------ Css Container ------X------ */

/* ------------- Css Backgrounds ------------- */

/* Style backgrounds */

.container .section:nth-child(1){
    background: url('assets/cbg1.jpg');
    background-size:cover, contain, auto ;
    background-attachment: fixed;
    
}
.container .section:nth-child(2){
    background: url('assets/cbg2.jpg');
    background-size:cover, contain, auto ;
    background-attachment: fixed;
}
.container .section:nth-child(3){
    background: url('assets/cbg3.jpg');
    background-size:cover, contain, auto ;
    background-attachment: fixed;
}.container .section:nth-child(4){
    background: url('assets/cbg4.jpg');
    background-size:cover, contain, auto ;
    background-attachment: fixed;
    
}.container .section:nth-child(5){
    background: url('assets/cbg5.jpg');
    background-size:cover, contain, auto ;
    background-attachment: fixed;
    
}
/* -----X------- Css Backgrounds ------X------ */

/* ------------- Css Text ------------- */


.container .section .content{
    position: absolute;
    top: 100px;
    left: 50px;
    max-width: 700px;
}
.container .section .content h2{
   background: #fff;
   color: #111;
   font-weight: 600;

   display: inline-block;
   padding: 10px 20px;
   font-size: 2em;
   box-shadow: 5px 5px 5px rgba(0, 0 , 0 , 0.5);
   border-radius: 10px;
}
.container .section .content p{
    background: #fff;
    color: #111;
    font-weight: 300;
 
    padding: 10px 20px;
    margin-top: 10px;

    box-shadow: 5px 5px 5px rgba(0, 0 , 0 , 0.5);
    border-radius: 10px;
}
/* -----X------- Css Text ------X------ */


@-webkit-keyframes rotate-scale-up-hor {
    0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
    }
    50% {
    -webkit-transform: scale(1) rotateX(-180deg);
            transform: scale(1) rotateX(-180deg);
    }
    100% {
    -webkit-transform: scale(1) rotateX(-360deg);
            transform: scale(1) rotateX(-360deg);
    }
}
@keyframes rotate-scale-up-hor {
    0% {
    -webkit-transform: scale(1) rotateX(0);
            transform: scale(1) rotateX(0);
    }
    50% {
    -webkit-transform: scale(1) rotateX(-180deg);
            transform: scale(1) rotateX(-180deg);
    }
    100% {
    -webkit-transform: scale(1) rotateX(-360deg);
            transform: scale(1) rotateX(-360deg);
    }
}
